# Day Objectives
## Introduction To Jupyter Notebook
**BOLD**


*ITALIAN*

*TEXT

<img src=" ">
1. ordered list 1

2. ordered list 2

3. ordered list 3

## Python Basics

In [1]:
'''ggkh
vgvjh
hgg''' # Using for Multi-Line comments
#->is for single line comment

'ggkh\nvgvjh\nhgg'

In [2]:
## Variable Assignment
n = 123
n

123

In [3]:
n1 = n
n

123

In [4]:
n2 =n
n1

123

In [5]:
n1 = n2 = n3 = n
n1

123

In [12]:
n = 12
n = 10
n = 8
print(n)
n1 = 10
n1

8

10

In [17]:
a =10
a
type(a)

int

In [18]:
b= 10.5
b
type(b)

float

In [15]:
c="NAME" # string should be either in single quotes or double quotes
c

'NAME'

In [16]:
# type() is used to check the datatype
type(c)

str

In [27]:
# Type conversion:converting one datatype in to another
x = 10
print(x)
type(x)
y=str(x)
print(type(y))
print(float(x))

10
<class 'str'>
10.0

In [36]:
## Basic Arithematic Operations
## ADD
a = 10
b = 20
print(a + b)
## Subtract
k = -2
j = -4
print(k - j)
## Multiplication
c=((a + b) * (k -j))

## Division
print(c/2) # Single modular division will give you the float value
print(c//2) # Double modular division will give you the integer value
## Modulus
print(c%2)

30
2
30.0
30
0

In [39]:
print(10 + 20)
print(10 - 20)
print(100000123 * 1234565878)

30
-10
123456739651602994

In [40]:
a="k"
type(a)

str

In [41]:
int(str(a))
type(a)

ValueError: invalid literal for int() with base 10: 'k'

In [42]:
## Indentation In python plays a crucial role
## Nothing but spaces or tab
## Conditional Statemnts:To check whether the condition is True or False
### If,else,if-else,Nested if,Nested else

In [47]:
## If condition
## write a program to know how to use if condition
n=23
if (n%2==0):
    n=n+1
    print("n is even number")
else:
    print("n is not an even number")

n is not an even number

In [49]:
# program to find biggest number
a =int(input())
b =int(input())
if a > b:
    print(" a is the biggest number")
else:
    print(" b is the biggest number")

10
30
 b is the biggest number

In [50]:
a=input()
a

name

'name'

### String Slicing

In [51]:
s="python"
s

'python'

In [52]:
len(s) # len() is a method to know the length of the string

6

In [53]:
s[5]

'n'

In [54]:
s[0]

'p'

In [55]:
s[3]

'h'

In [61]:
s1="python program is a very powerful language"
len(s1)

42

In [62]:
s1[3]

'h'

In [63]:
s1[-1] # last element of the string

'e'

In [64]:
s1[-2] # from last word we will get the second last element

'g'

In [67]:
s1[len(s1)-1]

'e'

In [73]:
k="name"
print(len(k))
print(k[len(k)-1])
print(k[-1])
print(k[-2])
print(k[len(k)-2])

4
e
e
m
m

In [75]:
s="python program a very efficient language"
print(s[0:6])
print(s[50:100])

python

In [78]:
print(s[1::2])

yhnpormavr fiin agae

In [79]:
print(s[::-1])

egaugnal tneiciffe yrev a margorp nohtyp

In [80]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [89]:
a="PYThon welcome"
print(a)
a=a.capitalize()
print(a)
print(a.title())
print(a.upper())
print(a)
print(a.lower())

PYThon welcome
Python welcome
Python Welcome
PYTHON WELCOME
Python welcome
python welcome

In [97]:
b="123"
b.isdigit()

True

In [99]:
x=input("enter string")
y=x[::-1]
if x==y:
    print("pal")
else:
    print("not pal")

enter string121
pal

In [100]:
a

'Python welcome'

In [103]:
a="   python   "
a.rstrip()

'   python'

In [108]:
a.find('w')

-1

In [107]:
a.index('w')

ValueError: substring not found

In [110]:
a="www"
a.count('w')

3

In [111]:
## Functions
# Functions in Python defined by a keyword "def"
## Write a program for finding leap year
def isLeapyear(year):
    if (year%400==0) or (year%4==0 and year%100!=0):
        print("year is a leap year")
    else:
        print("year is not a leap year")

In [113]:
isLeapyear(2019)

year is not a leap year

In [ ]:
## a , b, c

In [ ]:
## inititalization
## while(condition):
## increment

In [ ]:
## for(initialization,condition,increment):

In [119]:
def naturalnumbers(n):
    for i in range(1,n+1,4):
        print(i)
naturalnumbers(10)

1
5
9

In [120]:
## Number divisible by 10 but not by 4
#o/p:50

In [121]:
## Write a program to print all the even numbers
## between 1 to 40

In [ ]:
# Write a program to print factors of n
#o/p:6=1 2 3 6

In [124]:
## Write a program to find factorial of n
# o/p:6=6*5*4*3*2*1=720

def factorial(n):
    fa=1
    for i in range(1,n+1):
        fa=fa * i
    print(fa)

In [125]:
factorial(6)

720